@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body,html{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.giphy.com/media/ui1hpJSyBDWlG/giphy.gif");
    background-position: center center;
    background-size: cover;
    font-size: 30px;
}


.main-box{
    width:90%;
    height:70%;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    color:white;
    flex-direction: column;
}

.main-box span {
    font-family: 'Jua', sans-serif;
    font-size: 1em;
    border-bottom: 5px solid #fdcb6e;
}

.main-box p {
    width:27%;
    font-family: 'Jua', sans-serif;
    font-size: 1em;
    border-bottom: 5px solid #d63031;
    color:#ff7675;
    transition: all .5s;
}

.main-box p:hover{
    color:#fdcb6e;
    cursor:pointer;
}

.main-box div {
    display:flex;
    width:38%;
    height:54%;
    background-image: url("./img/console.png");
    background-size:cover;
    background-position: top center;
    position: absolute;
    z-index: 100;
    top:5%;
    opacity: 0;
    transition: all .5s;

}
