@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Do+Hyeon&family=East+Sea+Dokdo&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



#color-red{
    color:#d63031;
    font-size:0.5em;
    border:none;
}
html,body{
    font-size:50px;
}

html{
    width:100vw;
}

body div {
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: repeat(5,1fr);
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
    
}
.container section{
    scroll-snap-align: start;
    height: 100vh;
}

.content-first{
    height:100%;
    background-image: url("https://media.giphy.com/media/Zsc4dATQgcBmU/giphy.gif");
    background-size:cover;
    background-position: center center;
    opacity: 1;
    transition: all 1s;
    color: white;
    font-size:1.5em;
    font-family: 'East Sea Dokdo', cursive;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content-first span {
    font-family: 'Do Hyeon', sans-serif;
    font-size:1em;
    color: #fdcb6e;
    border-bottom: 5px solid #fdcb6e;

}


.content-second {
    width:100%;
    height:100%;
    background-image: url("https://media.giphy.com/media/l3xxTjIXYy3gchiH3L/giphy.gif");
    background-size:cover;
    background-position: center center;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#A8815F;
    opacity: 0;
    transition: all 1s;
    color:white;
    flex-direction: column;
    font-size: 0.7em;

}



.content-third {
    width:100%;
    height:100%;
    background-color:white;
    opacity: 0;
    transition: all 1s;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.content-third div {
    width:60%;
    height:100%;
    background-image: url("https://media.giphy.com/media/tI880EKd2rxq8/giphy.gif");
    background-size:cover;
    background-position: center center;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7em;
    font-family: 'East Sea Dokdo', cursive;
    color:#d63031;
    flex-direction: column;
}


.content-fourth{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 1s;
}


.content-fourth img:first-child{
    width:20%;
    height:50%;
    background-image: url("./img/code.png");
    background-position: center center;
    background-size: cover;
}

.content-fourth img:nth-child(2){
    width:70%;
    height:25%;
    background-image: url("./img/console.png");
    background-position: center center;
    background-size: cover;
}

.content-fifth{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 1s;

   
}

.content-fifth div{
    width:70%;
    height:80%;
    background-image: url("https://media.giphy.com/media/Jalikml2XiUgw/giphy.gif");
    background-size:cover;
    background-position: center center;
}



