@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

*{
    font-family: 'Otomanopee One', sans-serif;
    margin:0;
}

#color-red{
    background:#d63031;
}

#color-blue{
    background:#0984e3;
}

#color-green{
    background-color:#00b894;
}

#color-yellow{
    color:#ffeaa7;
}


body,html{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
}

.main-wrapper{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: repeat(11,1fr);
 
}

.main__first{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main__first div span {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    background-color: cornflowerblue;
    font-size:0.5em;
    color:white;
}

.main__first div{
    width:30%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}


.main__first div:after{
    content: "";
    display: block;
    width: 25%;
    height: 11%;
    border-left: 5px solid #0984e3;
    border-right: 5px solid #0984e3;
    position: absolute;
    top:26%;
  
}



.main__second{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:0.5em;
}

.main__second div:first-child:after{
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    border-left: 5px solid #d63031;
    border-right: 5px solid #d63031;
    position: absolute;
    top:27%;
    left:10%;
}




.main__second div:nth-child(2):after{
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    border-right: 5px solid #0984e3;
    position: absolute;
    top:27%;
    left:40%;
}

.main__second div:last-child:after{
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    border-right: 5px solid #00b894;
    position: absolute;
    top:27%;
    right:10%;
}

.main__second div {
    
    width:30%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:cornflowerblue;
    border-radius: 20%;
    color:white;
}

.main__second div p {
    width:30%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.main__third{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:0.5em;
}

.main__third .main__thrid-box {
    
    width:10%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:cornflowerblue;
    border-radius: 20%;
    color:white;
}

.main__third div:first-child:after{
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    border-left: 5px solid #d63031;
    position: absolute;
    top:45%;
    left:7%;
}

.main__third div:nth-child(2):after{
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    border-left: 5px solid #d63031;
    position: absolute;
    top:45%;
    left:20%;
}


.main__third div:nth-child(3):after{
    content: "";
    display: block;
    width: 10%;
    height: 11%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:47%;
    left:32%;
    transform: rotateZ(10deg);
   
}

.main__third div:nth-child(4):after{
    content: "";
    display: block;
    width: 10%;
    height: 11%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:45%;
    left:50%;
 
}

.main__third div:nth-child(5):after{
    content: "";
    display: block;
    width: 10%;
    height: 50%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:35%;
    left:55%;
    transform: rotateZ(102deg);
 
}

.main__third div:nth-child(6):after{
    content: "";
    display: block;
    width: 10%;
    height: 80%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:20%;
    left:65%;
    transform: rotateZ(97deg);

}





.main__third .main__thrid-box:last-child {
    width:15%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:cornflowerblue;
    border-radius: 20%;
    color:white;
}


.main__thrid div p {
    width:30%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main__third .main__thrid-empty {
    
    width:5%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20%;
    color:white;
}


.main__forth{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:0.5em;
}

.main__forth div:nth-child(6):after{
    content: "";
    display: block;
    width: 10%;
    height: 3%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:68%;
    left:40.5%;
    transform: rotateZ(90deg);
}

.main__forth div:nth-child(7):after{
    content: "";
    display: block;
    width: 10%;
    height: 16%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:68%;
    left:45%;
    transform: rotateZ(50deg);
}


.main__forth div:nth-child(8):after{
    content: "";
    display: block;
    width: 10%;
    height: 32%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:62%;
    left:57%;
    transform: rotateZ(70deg);
}




.main__forth div:nth-child(9):after{
    content: "";
    display: block;
    width: 10%;
    height: 3%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:68%;
    left:62%;
    transform: rotateZ(90deg);
}

.main__forth div:nth-child(10):after{
    content: "";
    display: block;
    width: 10%;
    height: 3%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:68%;
    left:83%;
    transform: rotateZ(90deg);
}

.main__forth div:nth-child(11):after{
    content: "";
    display: block;
    width: 10%;
    height: 45%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:58%;
    left:76%;
    transform: rotateZ(70deg);
}

.main__forth div:nth-child(12):after{
    content: "";
    display: block;
    width: 10%;
    height: 65%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:46%;
    left:73%;
    transform: rotateZ(81deg);
}







.main__forth .main__forth-box {
    width:10%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:cornflowerblue;
    border-radius: 20%;
    color:white;
}

.main__forth .main__forth-empty{
    width:0.5%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
   
    border-radius: 20%;
    color:white;

}

.main__fifth{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:0.3em;
}


.main__fifth div:nth-child(1):after{
    content: "";
    display: block;
    width: 10%;
    height: 10%;
    border-left: 5px solid #0984e3;
    position: absolute;
    top:82%;
    left:30%;
    transform: rotateZ(90deg);
}

.main__fifth div:nth-child(2):after{
    content: "";
    display: block;
    width: 19%;
    height: 5%;
    border-top: 5px solid #0984e3;
    position: absolute;
    top:82%;
    left:37%;
    transform: rotateZ(160deg);
}


.main__fifth div:nth-child(3):after{
    content: "";
    display: block;
    width: 11%;
    height: 5%;
    border-top: 5px solid #0984e3;
    position: absolute;
    top:82%;
    left:46%;
    transform: rotateZ(150deg);
}


.main__fifth div:nth-child(4):after{
    content: "";
    display: block;
    width: 10%;
    height:10%;
    border-right: 5px solid #0984e3;
    position: absolute;
    top:81%;
    left:49%;
    
}

.main__fifth div:nth-child(5):after{
    content: "";
    display: block;
    width: 10%;
    height:10%;
    border-right: 5px solid #0984e3;
    position: absolute;
    top:81%;
    left:59%;
    
}



.main__fifth div:nth-child(6):after{
    content: "";
    display: block;
    width: 14%;
    height: 5%;
    border-top: 5px solid #0984e3;
    position: absolute;
    top:85%;
    right:17%;
    transform: rotateZ(30deg);
    
}


.main__fifth div:nth-child(7):after{
    content: "";
    display: block;
    width: 25%;
    height: 5%;
    border-top: 5px solid #0984e3;
    position: absolute;
    top:85%;
    right:5%;
    transform: rotateZ(14deg);
    
}










.main__fifth .main__fifth-box {
    width:7%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color:cornflowerblue;
    border-radius: 20%;
    color:white;
}

.main__fifth .main__fifth-empty{
    width:25%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20%;
    color:white;
}