@import url("reset.css");
@import url("font.css");

body,html{
    width:100vw;
    height:200vh;
}
a{
    text-decoration: none;
    color:black;
}

header{
    width:100%;
    height:10%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: 'Playfair Display', serif;
    z-index:100;
}

header div {
    padding:10px;
}

header div:first-child span a{
    transition: all .5s;
}

header div:first-child span a:hover {
    color:#ff3838;
}



header div:nth-child(2) span {
    font-family: 'Ubuntu', sans-serif;
}

header div:nth-child(2) span a{
    transition:all .5s;
}


header div:nth-child(2) span a:hover {
 
    color:#00b894
}



header div span{
    padding:10px;
}

.chatbot{
    position:fixed;
    bottom:30px;
    right:15px;
    width:5%;
    height:10%;
    background-color:white;
    border:1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color:rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 10000;
}
.chatbot-content{
    position:fixed;
    width:18%;
    height:55%;
    border: 1px solid rgba(0,0,0,0.1);
    bottom:30px;
    right:15px;
    border-radius: 5%;
    display:none;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(20deg,white,#0984e3);
    flex-direction: column;
}

.chatbot-content .chatbot-content__text{
    font-size: 30px;
    font-family: 'Encode Sans SC', sans-serif;
    color:white;
    font-weight: bold;
}

.chatbot-content .chatbot-content__box{
    width:90%;
    height:80%;
    background-color: white;
    border-radius: 5%;

}


main{
 
    width:100%;
    height:55%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 main .section-banner{
    width:80%;
    height:75%;
    display:flex;
    align-items: center;
    justify-content: center;
 }

.main-img {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.2);
   
}

.main-img div span {
    font-size:42px;
    font-family: 'Playfair Display', serif;
}


.section-grid{
    width:80%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
   
    font-family: 'Playfair Display', serif;
   


}

.grid-span{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/span 2;
    color:#0984e3;
    font-size:62px;


}

.grid-box__wrapper{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
 
}

.grid-box {
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f1e3;
    position: relative;
    color:#fdcb6e;
    font-size:40px;

    font-family: 'Great Vibes', cursive;
 
}

.grid-box img {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    top:0;
    right:0;
    object-fit: cover;
    object-position: center center;

}

.grid-box__second__wrapper{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
 
}
.second__wrapper-header {
    color:#0984e3;
    font-size:62px;
    font-family: 'Playfair Display', serif;

}

.section__second-grid{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}
.section__second-grid a {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section__second-grid a span{
    width:90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffeaa7;
    color:#0984e3;

    flex-direction: column;
    font-size: 42px;
    box-shadow: 10px 5px 5px 5px rgba(0,0,0,0.3);
    font-family: 'Great Vibes', cursive;
    transition: all .5s;
}
.section__second-grid a span:hover{
    background-color: black;
    color:white;
}