.chatbot-content__box ul {
    width:97%;
    height: 95%;
    display:block;
    overflow-y: scroll;
}

.chatbot-content__box ul li:nth-child(2n) {
    width:95%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  
    margin: 5% 0 0; 
}
.chatbot-content__box ul li:nth-child(2n) span {
    width:88%;
    height: 50%;
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 7%;
    background-color: #fdcb6e;
    padding:5%;
    font-size:15px;
    font-family: 'Nanum Gothic', sans-serif;

}

.chatbot-content__box ul li:nth-child(2n) i {
    width:20%;
    height:30%;
    border: 5px solid #0984e3;
    color:#0984e3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}





.chatbot-content__box ul li:nth-child(2n+1) {
    width:95%;
    height: 40%;
    display: flex;
    justify-content:center ;
    align-items: flex-start;
    flex-direction: column;

    margin: 5% 0 5% 5%;
}

.chatbot-content__box ul li:nth-child(2n+1) span {
    width:88%;
    height:50%;
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #7bed9f;
    border-radius: 7%;
    padding:5%;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
   
}

.chatbot-content__box ul li:nth-child(2n+1) span img{
    position:absolute;
    top:0;
    right:0;
    object-fit: cover;
    width:100%;
    height:100%;
}

.chatbot-content__box ul li:nth-child(2n+1) i {
    width:20%;
    height:30%;
    border: 5px solid #00b894;
    color:#00b894;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

